/* You can add global styles to this file, and also import other style files */
body {
  background: #189ec5;
  background: -webkit-linear-gradient(to right, #189ec5, #1dd48f);
  background: linear-gradient(to right, #189ec5, #1dd48f);
}
