<div class="container-fluid mt-5 d-flex flex-row justify-content-center align-content-center">
  <div class="card" style="width: 50%;">
    <div class="card-body">
      <form [formGroup]="searchForm" (ngSubmit)="filterResults()">
        <div class="form-group">
          <div class="d-flex flew-row flex-fill">
            <input class="form-control me-2" id="filterText" name="filterText" type="search" placeholder="Buscar Países"
              formControlName="filterText" />
            <button class="primary" type="submit">Buscar</button>
          </div>
          <div *ngIf="submitted && f['filterText'].errors" class="alert alert-danger mt-">
            <div *ngIf="f['filterText'].hasError('minlength')">
              Debe ingresar al menos 3 caracteres para realizar la búsqueda
            </div>
          </div>
        </div>
      </form>
      <ng-container *ngIf="filteredCountries.length; else templateNoResults">
        <table class="table mt-3 text-center">
          <thead>
            <tr>
              <th scope="col">País</th>
              <th scope="col">Población</th>
              <th *ngIf="showPopulationTotalPercentage" scope="col">% de Habitantes</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let country of filteredCountries">
              <td>{{ country.name }}</td>
              <td>{{ country.population | number: '':'es-AR' }}</td>
              <td *ngIf="showPopulationTotalPercentage">{{ country.populationTotalPercentage | number:
                '1.0-0':'es-AR'
                }}
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
      <ng-template #templateNoResults>
        <h4 class="mt-3">No se encontraron resultados</h4>
      </ng-template>
    </div>
  </div>
</div>