<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body text-center">
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Buscar Países"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
          <table class="table mt-3">
            <thead>
              <tr>
                <th scope="col">País</th>
                <th scope="col">Población</th>
                <th scope="col">% de Habitantes</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Argentina</td>
                <td>45968735</td>
                <td>25</td>
              </tr>
              <tr>
                <td>Argentina</td>
                <td>45968735</td>
                <td>25</td>
              </tr>
              <tr>
                <td>Argentina</td>
                <td>45968735</td>
                <td>25</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
